.item-info-wrapper {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 1fr;
  height: fit-content;

  &__image {
    display: flex;
    margin: var(--large-space);
    justify-content: center;
    align-items: center;
    max-width: 680px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__condition {
    margin-top: var(--large-space);
    margin-bottom: var(--medium-space);
    font-size: var(--small-font);
  }

  &__title {
    font-size: var(--large-font);
    font-weight: bold;
  }

  &__price {
    margin: var(--large-space) 0;
    font-size: var(--extra_large-46);
  }

  &__button {
    width: calc(100% - var(--large-space));
  }

  .item-info-wrapper-description {
    display: flex;
    flex-direction: column;
    padding-left: var(--large-space);
    margin-bottom: var(--large-space);

    &__title {
      padding-top: 0;
      font-size: var(--extra_large-font);
    }
  }
}

.btn {
  color: var(--color-background);
  text-align: center;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0 #fff;
  transition: box-shadow .25s ease-out,background-color .2s ease-out;
  cursor: pointer;

  &--primary {
    background-color: var(--color-primary-button);
  }

  &:hover{
    border-color: transparent;
    background-color: #2968c8;
  }

  &:focus {
    border: 0;
    outline: 0;
  }
}
